In [30]:
import pandas as pd 

df = pd.read_csv("../data/nyc_housing_base.csv")

df.head()

,borough_x,block,lot,sale_price,zip_code,borough_y,yearbuilt,lotarea,bldgarea,resarea,comarea,unitsres,unitstotal,numfloors,latitude,longitude,landuse,bldgclass,building_age
0,1,400,11,280000,10009.0,MN,1900.0,2404.0,6875.0,6875.0,0.0,18.0,18.0,5.0,40.724415,-73.983891,2.0,C6,125.0
1,1,402,36,2000000,10009.0,MN,1900.0,1919.0,7810.0,6810.0,1000.0,8.0,10.0,5.0,40.724975,-73.981535,2.0,C4,125.0
2,1,402,60,3400000,10009.0,MN,1920.0,2150.0,6152.0,5352.0,800.0,8.0,9.0,5.0,40.725346,-73.983112,4.0,C7,105.0
3,1,404,42,4000000,10009.0,MN,1855.0,2369.0,6990.0,6990.0,0.0,10.0,10.0,5.0,40.727398,-73.980600,2.0,C4,170.0
4,1,372,55,655000,10009.0,MN,1920.0,5298.0,17990.0,17990.0,0.0,20.0,20.0,5.0,40.720621,-73.979534,2.0,C6,105.0

In [31]:
df.shape

(34439, 19)

In [32]:
df.columns

Index(['borough_x', 'block', 'lot', 'sale_price', 'zip_code', 'borough_y',
       'yearbuilt', 'lotarea', 'bldgarea', 'resarea', 'comarea', 'unitsres',
       'unitstotal', 'numfloors', 'latitude', 'longitude', 'landuse',
       'bldgclass', 'building_age'],
      dtype='object')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34439 entries, 0 to 34438
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   borough_x     34439 non-null  int64
 1   block         34439 non-null  int64
 2   lot           34439 non-null  int64
 3   sale_price    34439 non-null  int64
 4   zip_code      34423 non-null  float64
 5   borough_y     34439 non-null  object
 6   yearbuilt     34439 non-null  float64
 7   lotarea       34439 non-null  float64
 8   bldgarea      34439 non-null  float64
 9   resarea       34251 non-null  float64
 10  comarea       34251 non-null  float64
 11  unitsres      34439 non-null  float64
 12  unitstotal    34439 non-null  float64
 13  numfloors     34396 non-null  float64
 14  latitude      34433 non-null  float64
 15  longitude     34433 non-null  float64
 16  landuse       34436 non-null  float64
 17  bldgclass     34439 non-null  object
 18  building_age  34439 non-null  float64
dtypes: float64(13), int64(4), object(2)
memory usage: 5.0+ MB

In [34]:
df.describe()

,borough_x,block,lot,sale_price,zip_code,yearbuilt,lotarea,bldgarea,resarea,comarea,unitsres,unitstotal,numfloors,latitude,longitude,landuse,building_age
count,34439.000000,34439.000000,34439.000000,3.443900e+04,34423.000000,34439.000000,3.443900e+04,3.443900e+04,3.425100e+04,3.425100e+04,34439.000000,34439.000000,34396.000000,34433.000000,34433.000000,34436.000000,34439.000000
mean,3.073608,4562.694532,60.057174,1.171832e+06,10866.464370,1941.007579,5.244022e+04,6.271570e+04,5.593040e+04,6.846554e+03,51.716775,52.309765,4.227674,40.707342,-73.919829,1.943112,83.992421
std,1.287072,3611.017542,136.516558,1.241375e+06,557.770632,28.985203,5.032042e+05,2.712663e+05,2.116029e+05,6.971171e+04,173.385339,174.964326,5.230538,0.082194,0.108336,1.345451,28.985203
min,1.000000,1.000000,1.000000,1.186300e+04,10001.000000,1800.000000,1.610000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,1.000000,40.500291,-74.253599,1.000000,0.000000
25%,2.000000,1432.000000,14.000000,5.125000e+05,10308.000000,1920.000000,2.090000e+03,1.614500e+03,1.356000e+03,0.000000e+00,1.000000,1.000000,2.000000,40.640011,-73.978330,1.000000,65.000000
50%,3.000000,3854.000000,33.000000,8.250000e+05,11210.000000,1935.000000,3.090000e+03,2.494000e+03,2.120000e+03,0.000000e+00,2.000000,2.000000,2.000000,40.705836,-73.915430,1.000000,90.000000
75%,4.000000,6678.000000,59.000000,1.300000e+06,11364.000000,1960.000000,7.502000e+03,1.450000e+04,9.816000e+03,0.000000e+00,13.000000,15.000000,4.000000,40.759718,-73.846150,3.000000,105.000000
max,5.000000,16350.000000,3635.000000,9.995000e+06,11697.000000,2025.000000,2.225160e+07,3.750565e+06,2.690565e+06,1.100000e+06,1887.000000,1906.000000,54.000000,40.912745,-73.700488,11.000000,225.000000

In [35]:
df = df.rename(columns={
    "borough_y": "borough",
    "sale_price": "price"
})

In [36]:
df = df.drop(columns= ["borough_x"])
df.columns

Index(['block', 'lot', 'price', 'zip_code', 'borough', 'yearbuilt', 'lotarea',
       'bldgarea', 'resarea', 'comarea', 'unitsres', 'unitstotal', 'numfloors',
       'latitude', 'longitude', 'landuse', 'bldgclass', 'building_age'],
      dtype='object')

In [37]:
df.isnull().sum().sort_values(ascending = False)

comarea         188
resarea         188
numfloors        43
zip_code         16
longitude         6
latitude          6
landuse           3
unitsres          0
bldgclass         0
unitstotal        0
block             0
lot               0
bldgarea          0
lotarea           0
yearbuilt         0
borough           0
price             0
building_age      0
dtype: int64

In [38]:
df.duplicated().sum()

np.int64(1003)

In [39]:
df = df.drop_duplicates()

In [40]:
df.duplicated().sum()

np.int64(0)

In [42]:
df.shape

(33436, 18)